[submodule "preprocess/submodules/DECA"]
	path = preprocess/submodules/DECA
	url = https://github.com/YadiraF/DECA
[submodule "preprocess/submodules/MODNet"]
	path = preprocess/submodules/MODNet
	url = https://github.com/ZHKKKe/MODNet
[submodule "preprocess/submodules/face-parsing.PyTorch"]
	path = preprocess/submodules/face-parsing.PyTorch
	url = https://github.com/zllrunning/face-parsing.PyTorch
[submodule "preprocess/submodules/hamer"]
	path = preprocess/submodules/hamer
	url = https://github.com/geopavlakos/hamer.git
